name: Java CI Build

on:
  workflow_dispatch: {}
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build:
    name: Build with Java ${{ matrix.java }} and ${{ matrix.distribution }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        java: ['17', '21']
        os: [ubuntu-latest]                
        distribution: ['temurin']            
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Java and SBT cache
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: ${{ matrix.distribution }}
          cache: sbt

      - name: Set up Sbt
        uses: sbt/setup-sbt@v1

      - name: Build and Test
        run: |
          sbt clean
          sbt compile
          sbt test
